{#
    This template is NOT use by jekyll, but by the Darwin Core build script
    to create the terms/index.md file which mostly contains html.
#}

# Darwin Core quick reference guide

This page provides a list of all currently recommended terms of the Darwin Core standard. Categories such as `Occurrence` or `Event` correspond to Darwin Core classes which group other terms. Convenient [files of these terms](https://github.com/tdwg/dwc/tree/master/dist) and [their full history](https://github.com/tdwg/dwc/blob/master/vocabulary/term_versions.csv) can be found in the [Darwin Core repository](https://github.com/tdwg/dwc).

{% for class_group in class_groups %}

## {{ class_group.label }}

<div class="my-4">
    {% for term in class_group.terms %}
    <a class="btn btn-sm btn-outline-secondary m-1" href="#{{ term.namespace }}:{{ term.label }}">{{ term.label }}</a>
    {% endfor %}
</div>

{% if class_group.iri is not none %}
{# Class (the above will exclude the Record-level class_group) #}
<table class="table table-sm table-bordered">
    <tbody>
        <tr class="table-primary"><th colspan="2">{{ class_group.label }} <span class="badge badge-primary float-right">Class</span></th></tr>
        <tr><td class="theme-label">Identifier</td><td><a href="{{ class_group.iri }}">{{ class_group.iri }}</a></td></tr>
        <tr><td class="theme-label">Definition</td><td>{{ class_group.definition }}</td></tr>
        <tr><td class="theme-label">Comments</td><td>{{ class_group.comments }}</td></tr>
        <tr><td class="theme-label">Examples</td><td>{{ class_group.examples }}</td></tr>
    </tbody>
</table>
{%endif %}

{% for term in class_group.terms %}
{# Term #}
<p class="invisible">
    <a id="{{ term.namespace }}:{{ term.label }}"></a>{% if term.namespace != "dwciri" %}<a id="{{ term.label }}"></a>{% endif %}
</p>
<table class="table table-sm table-bordered">
    <tbody>
        <tr class="table-secondary"><th colspan="2">{{ term.label }} <span class="badge badge-secondary float-right">Property</span></th></tr>
        <tr><td class="theme-label">Identifier</td><td><a href="{{ term.iri }}">{{ term.iri }}</a></td></tr>
        <tr><td class="theme-label">Definition</td><td>{{ term.definition }}</td></tr>
        <tr><td class="theme-label">Comments</td><td>{{ term.comments }}</td></tr>
        <tr><td class="theme-label">Examples</td><td>{{ term.examples }}</td></tr>
    </tbody>
</table>
{% endfor %}

{% endfor %}
