// Custom styling

.content {
  table {
    td:first-of-type {
      width: 120px; // Label column, long words will still push this wider
    }

    .list-group-item {
      padding: 0.5rem 0; // Examples
    }
  }
}

@media (min-width: 992px) {
  .toc {
    position: sticky;
    top: 1rem;
    max-height: calc(100vh - 2rem);
    overflow-y: auto;
  }

  .qrg-toc .toc {
    position: static;
    max-height: none;
    overflow-y: visible;
  }
}
